---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div style="background-color: #2F3541; min-height: 100vh; display: flex; align-items: flex-start; padding: 40px;">
		<h1 style="color: white; font-family: sans-serif; font-weight: bold; font-size: 48px; margin: 0;">Hello Growthmak Team</h1>
	</div>
</Layout>
